@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imgs/5525305.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column; /* Garante que os itens fiquem em coluna */
    align-items: center; /* Centraliza os itens na horizontal */
    justify-content: center; /* Centraliza os itens na vertical */
    width: 100%;
    max-width: 500px; /* Ajusta a largura do formulário */
    padding: 20px;
    height: auto;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    text-align: center;
}

h1 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #00c0f0;
}

.input-group {
    width: 100%;
    max-width: 400px;
    margin: 15px 0;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #00c0f0;
    border-radius: 8px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

input[type="email"]::placeholder {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #00c0f0;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
}

button:hover {
    background-color: #004c99;
}

.message {
    margin-top: 20px;
    color: #00c0f0;
    font-size: 16px;
}

.hidden {
    display: none;
}
